html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loading-back {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background-color: rgba(255, 255, 255, 0.7);
}

.loading-back .loading-icon {
  height: 150px;
  position: absolute;
  top : 50%;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
